*{margin:0}body{height:100%;width:100%}.container{width:100%;height:100%;color:blue}.container img{text-align:center;height:100%;width:100%}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.euna, .jeu, .jna{
    padding:50px 0;

    color:black;
}
.chart-holder{
    width:100%;
    height:100px;
    background-color: #cb4659;
    display: flex;
    justify-content: space-between;
    align-content:center;
    cursor: pointer;
}